
:root {
  --input-bg-color: #181B1C;
  --bg-color: #1D2021;
  --text-color: #B9AD8D;
  --tag-color: #B8BB26;
  /*--tag-color: #83A57C;*/
}

textarea {
  display: block;
  width: 100%;
}

body {
  color: var(--text-color);
  margin: 0 0;
  background-color: var(--bg-color);
}

.app-container {
  margin: 0vh 3vw;
}

#ribbon {
    position: absolute;
    bottom: 0;
    width: 98vw;
    padding: 1vw 1vw;
    background: var(--input-bg-color);
}

#ribbon button {
  height: 2.5em;
}

.bottom-ribbon > #menu {
    float: right;
}

.bottom-ribbon > #tagList > div {
    overflow-x: scroll;
    overflow-y: clip;
    white-space: nowrap;
    height: 4em;
}

.bottom-ribbon > #tagList > div > button {
    display: inline-block;
    margin: 5px;
}

.highlighted-input {
    margin: unset;
    padding: unset;
    border: none;
    font-size: 11pt;
    font-family: monospace;
    word-wrap: break-word;
    white-space: pre-wrap;
    width: 92vw;
    height: 150px;
}

.input-container {
    position: relative;
    margin-bottom: 5px;
    background: var(--input-bg-color);
    padding: 1vw 1vw;
}

.input-container:last-child {
    margin-bottom: 70px;
}

pre.highlighted-input {
    color: var(--text-color);
    background: var(--input-bg-color);
}

textarea.highlighted-input {
    position: absolute;
    top: 1vw;
    background: unset;
    color: rgba(0,0,0,0.0);
    caret-color: var(--caret-color);;
    resize: none;
}

/* Remove default blue outline */
textarea.highlighted-input:focus {
    outline: none !important;
}

span.tag {
    color: var(--tag-color);;
}

#contextmenu {
    display: none;
    background: red;
    position: absolute;
    border-radius: 8px;
}

#contextmenu.contextmenu-active {
  display: block;
}

#contextmenu > button {
  height: 3em;
  margin: 1vw;
}

button {
  border: none;
  border-radius: 3px;
}

button#btnSaveNote {
  color: white;
  background: royalblue;
}

button#btnSaveNote:hover {
  background: #2d55ce;
}

button#btnSaveNote:active {
  background: #4f7bff;
}